Repository brege/aoife: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npm run lint
        language: system
        types: [javascript]
        files: \.(ts|tsx|js|jsx)$

      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]

      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

fix: change 'share' to 'permalink' to avoid tripping uBlock filters"
  src/components/menu/menu.css
  src/components/menu/menu.tsx
Due: none

chore: extend biome linting to CSS and fix misuses
  .pre-commit-config.yaml
  biome.json
  docs/changelog.md
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/lib/modalmanager.tsx
  src/media/factory.ts
  test/e2e/specs/workflow.cy.js
  test/integration/client.js
  vite.config.ts
Due: biome

feat: implement swipe mode on mobile
  package-lock.json
  package.json
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/alternatecoverscarousel.css
  src/components/search/alternatecoverscarousel.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
Due: none

chore: reduce long file and variable names
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/carousel.css
  src/components/search/carousel.tsx
  src/components/search/dropdown.tsx
  src/components/search/mediaform.css
  src/components/search/mediaform.tsx
  src/components/search/platform.css
  src/components/search/platform.tsx
  src/components/search/search.tsx
  src/components/ui/useonclickoutside.ts
  src/lib/escape.ts
Due: none

refactor: split vite.config.ts into middleware submodules
  src/middleware/api-routes.ts
  src/middleware/share.ts
  src/middleware/websocket.ts
  vite.config.ts
Due: none

refactor: extract storage, IndexDB, and state persistences from search
  src/components/search/search.tsx
  src/lib/storage.ts
Due: none

refactor: restore GamesDB proxy; move grid ops to own module
  src/components/search/search.tsx
  src/lib/grid-operations.ts
  src/middleware/api-routes.ts
  test/integration/api.test.js
Due: biome

refactor: consolidate share helpers; simplify search.tsx
  src/components/search/search.tsx
  src/lib/share.ts
  src/lib/storage.ts
Due: none

refactor: extract and make re-usable a search state hook
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/carousel.tsx
  src/components/search/dropdown.tsx
  src/components/search/platform.tsx
  src/components/search/search.tsx
  src/lib/grid-operations.ts
  src/lib/modalmanager.tsx
  src/lib/search-state.ts
  src/lib/share.ts
  src/media/factory.ts
  src/middleware/share.ts
  vite.config.ts
Due: none

refactor: extract layout state and storage calls from search
  src/components/search/search.tsx
  src/lib/layout-state.ts
Due: none

docs: update after refactor-1 merge
  docs/changelog.md
  docs/contributing.md
  package-lock.json
  package.json
Due: none

chore: reorg all state persistence handlers; excise bridge mode
  src/components/search/bridge.ts
  src/components/search/search.tsx
  src/lib/state/layout.ts
  src/lib/state/search.ts
  src/lib/state/share.ts
  src/lib/state/storage.ts
Due: none

chore: move search results overlay into own component
  src/components/search/results.tsx
  src/components/search/search.tsx
Due: none

chore: extract poster picker into own module
  src/components/search/picker.tsx
  src/components/search/search.tsx
Due: none

feat: make dropdowns drop 'up' on mobile
  package-lock.json
  package.json
  src/components/search/dropdown.css
  src/components/search/platform.css
Due: none

fix: make clear/trash reset title and url
  src/components/search/search.tsx
  src/lib/state/share.ts
Due: none

fix: music fallback to iTunes causing incorrect fuzzy match
  src/components/search/results.tsx
  src/media/music.ts
Due: none

fix: reset title to 'aoife' of accidentally set to null
  src/components/search/search.tsx
  src/lib/state/share.ts
Due: none

fix: increase timeouts on GamesDB api test
  test/integration/api.test.js
Due: biome

docs: update README, screenshots, and favicon
  README.md
  docs/img/desktop-builder.png
  docs/img/desktop-custom.png
  docs/img/desktop-edit.png
  docs/img/desktop-options.png
  docs/img/desktop-types.png
  docs/img/mobile-albums.png
  docs/img/mobile-films-builder.png
  docs/img/mobile-films.png
  docs/img/mobile-options.png
  docs/img/mobile-present.png
  docs/img/mobile-single.png
  public/favicon.png
Due: none

fix: Deezer CSP/Cors won't work on production
  README.md
  backend/backend.py
  docs/changelog.md
  src/media/music.ts
  src/media/providers.ts
Due: ruff-check, ruff-format

bump: v0.4.2
  package-lock.json
  package.json
Due: none

docs: update README
  README.md
Due: none

feat: menu improvements
  docs/roadmap.md
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/ui/header.css
  src/components/ui/header.tsx
Due: none

docs: update all documentation
  README.md
  docs/changelog.md
  docs/contributing.md
  docs/roadmap.md
Due: none

docs: update copy
  docs/changelog.md
  docs/contributing.md
  docs/roadmap.md
Due: none

docs: add scripts to generate favicon and social card
  docs/img/social.png
  public/favicon.png
  tools/branding/README.md
  tools/branding/assets.css
  tools/branding/assets.html
  tools/branding/assets.tsx
  tools/branding/export.mjs
  tools/branding/favicon.css
  tools/branding/favicon.tsx
  tools/branding/img/social-background.png
  tools/branding/social.css
  tools/branding/social.html
  tools/branding/social.tsx
Due: none

chore: remove hardcoded Vite server fallback
  src/media/tmdb.ts
Due: none

chore: swap add-button color; enable up/dn keys on media-type dropdown
  src/components/search/dropdown.css
  src/components/search/dropdown.tsx
  src/components/search/mediaform.css
  src/lib/escape.ts
Due: none

chore: removed dead "Grid2x2" and "isBuilderMode" vocab from grid/grid.*
  docs/roadmap.md
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/search/search.tsx
Due: none

chore:
  .env.example
  src/components/search/bridge.ts
  src/components/search/mediaform.tsx
  src/components/search/search.tsx
  src/lib/state/search.ts
  vite.config.ts
Due: none

chore: mode naming and behavior now contained in search-UI, nat layout
  src/components/search/bridge.ts
  src/components/search/search.css
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/state/search.ts
  test/e2e/specs/workflow.cy.js
  test/e2e/support/actions.js
Due: biome

chore: sunset src/lib/api.ts; remove dead CLI bridge from birth
  src/components/search/bridge.ts
  src/components/search/search.tsx
  src/lib/api.ts
Due: none

chore: make books, games errors deterministic
  docs/roadmap.md
  src/media/books.ts
  src/media/games.ts
Due: none

chore: UI cleanups and share/state refinements
  src/components/ui/customimage.tsx
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/lib/state/share.ts
Due: none

refactor: rewrite books provider method
  src/media/books.ts
  src/media/providers.ts
Due: none

feat: rewrite books provider (part 2) and add 'request more' button
  src/components/grid/grid.tsx
  src/components/search/results.tsx
  src/components/search/search.css
  src/components/search/search.tsx
  src/lib/share.ts
  src/lib/state/layout.ts
  src/media/books.ts
  src/media/games.ts
  src/media/music.ts
  src/media/providers.ts
  test/e2e/specs/workflow.cy.js
  tools/branding/social.css
Due: biome

fix: broken websockets in dev; avoid music albums with no cover
  backend/backend.py
  src/components/search/results.tsx
  src/components/search/search.tsx
  src/lib/state/search.ts
  src/media/music.ts
  src/middleware/api-routes.ts
  src/middleware/websocket.ts
Due: ruff-check, ruff-format

fix: zap musicbrainz results that don't have covers
  backend/backend.py
  src/components/search/results.tsx
  src/components/search/search.tsx
  src/lib/state/search.ts
  src/media/music.ts
  src/middleware/api-routes.ts
Due: ruff-check, ruff-format

feat: allow user to add book covers by URL
  backend/backend.py
  docs/roadmap.md
  src/components/search/coverlink.css
  src/components/search/coverlink.tsx
  src/components/search/mediaform.css
  src/components/search/mediaform.tsx
  src/components/search/search.tsx
  src/lib/modalmanager.tsx
  src/media/books.ts
  src/media/providers.ts
  src/middleware/api-routes.ts
Due: ruff-check, ruff-format
