Repository brege/aoife: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, ruff-check, ruff-format

biome:
  name: biome
  entry: npx biome lint --write
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

feat: add a centered 'loading' modal instead of writing to DOM
  src/components/grid/grid.tsx
  src/components/search/search.css
  src/components/search/search.tsx
Due: biome

perf: quiet 404's server side, tolerate in client for speed
  src/middleware/api-routes.ts
Due: biome

feat: add custom cover URL provisions for music
  src/components/search/coverlink.tsx
  src/components/search/mediaform.css
  src/components/search/mediaform.tsx
  src/components/search/search.tsx
  src/lib/modalmanager.tsx
  src/media/music.ts
  src/media/providers.ts
  src/middleware/api-routes.ts
Due: biome

feaT: restore last search media type on page refresh
  src/components/search/search.tsx
  src/lib/state/search.ts
  src/lib/state/storage.ts
Due: biome

fix: hyperlink button size
  src/components/search/mediaform.css
Due: biome

feat: add adaptive search bard (desktop) placement
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/mediaform.css
  src/components/search/mediaform.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/lib/state/search.ts
  src/lib/state/storage.ts
Due: biome

bump: v0.4.3
  package-lock.json
  package.json
Due: none

test: fix missing environment variable in GH actions
  .github/workflows/test.yml
Due: none

bump: v0.4.4
  .mocharc.mjs
  biome.json
  package-lock.json
  package.json
  src/components/search/mediaform.css
  src/lib/state/search.ts
  src/media/music.ts
  tsconfig.app.json
Due: biome

feat: use DDG images, not search; make search bar auto default
  package-lock.json
  package.json
  src/components/search/coverlink.tsx
  src/lib/state/layout.ts
Due: biome

perf: record client metadata during permalink generation
  backend/backend.py
  inspect
Due: ruff-check, ruff-format

perf: add flask-limiter and write protections to json
  .gitignore
  backend/backend.py
  backend/requirements.txt
Due: ruff-check, ruff-format

perf: nginx caching for /api/gamesdb/* JSON
  backend/install
  backend/nginx/aoife.template
Due: none

docs: update roadmap and changelog
  docs/changelog.md
  docs/roadmap.md
Due: none

feat: better grid/picker/swipe headers; improve music art in picker
  src/components/search/carousel.css
  src/components/search/carousel.tsx
  src/components/search/picker.tsx
  src/components/search/results.tsx
  src/components/search/search.css
  src/components/search/search.tsx
  src/lib/grid-operations.ts
  src/lib/share.ts
  src/lib/state/search.ts
  src/lib/state/share.ts
  src/media/types.ts
Due: biome

feat: add optional caption support
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/lib/state/storage.ts
Due: biome

feat: add star badge to grid item for currently chosen poster
  src/components/search/picker.tsx
  src/components/search/search.css
  src/components/search/search.tsx
Due: biome

fix: make dropdowns in lower-band mode on desktop drop 'up'
  src/components/menu/menu.tsx
  src/components/search/dropdown.css
  src/components/search/platform.css
Due: biome

feat: added editable, position-able captions
  backend/backend.py
  docs/roadmap.md
  src/components/grid/caption.css
  src/components/grid/caption.tsx
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/media/types.ts
  src/middleware/share.ts
Due: biome, ruff-check, ruff-format

fix: vite middleware missing thegamesdb in dev mode
  src/lib/modalmanager.tsx
  src/middleware/share.ts
Due: biome

feat: added "edits" only mode to only show custom captions
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.tsx
  src/components/search/picker.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/lib/state/share.ts
Due: biome

docs: update README, changelog, etc
  README.md
  docs/changelog.md
  docs/roadmap.md
  tools/branding/README.md
Due: none

chore: reuse modal from cusotm URLs for caption editor
  src/components/grid/caption.css
  src/components/grid/caption.tsx
Due: biome

bump: v0.5.0
  package-lock.json
  package.json
Due: none

refactor: add groups and use stepper-buttons for non-binary layout items
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/components/ui/header.css
  src/components/ui/header.tsx
  src/lib/state/layout.ts
  src/lib/state/storage.ts
Due: biome

feat: allow all custom URLs in permalink generation
  backend/backend.py
  src/middleware/api-routes.ts
  src/middleware/share.ts
Due: biome, ruff-check, ruff-format

bump: v0.5.1
  package-lock.json
  package.json
Due: none

docs: update changelog
  docs/changelog.md
Due: none

chore: rename contextual media types during onboarding
  src/components/grid/grid.tsx
  src/components/search/search.tsx
Due: biome

feat: replace carousel with swiperJS
  docs/changelog.md
  docs/roadmap.md
  package-lock.json
  package.json
  src/components/menu/menu.css
  src/components/search/carousel.css
  src/components/search/carousel.tsx
  src/components/search/mediaform.css
Due: biome

feat: add search suggestion support for TMDb
  src/components/menu/menu.tsx
  src/components/search/mediaform.css
  src/components/search/mediaform.tsx
  src/media/tmdb.ts
Due: biome

feat: add search results support for TheGamersDB
  src/components/search/mediaform.tsx
  src/components/search/platform.tsx
  src/middleware/api-routes.ts
Due: biome

perf: deduplicate keystrokes and cache suggestions
  src/components/search/mediaform.tsx
Due: biome

perf: preload games platform lookup and batch featch images
  data/tgdb.json
  src/components/search/mediaform.tsx
  src/components/search/platform.tsx
  src/media/games.ts
Due: biome

feat: at search suggestions for music albums
  src/components/search/mediaform.tsx
Due: biome

feat: introduce experimental books' author/works suggestions
  backend/backend.py
  docs/roadmap.md
  src/components/grid/grid.tsx
  src/components/search/carousel.tsx
  src/components/search/mediaform.tsx
  src/components/search/picker.tsx
  src/components/search/results.tsx
  src/components/ui/customimage.tsx
  src/lib/coverdetect.ts
  src/media/books.ts
  src/middleware/api-routes.ts
Due: biome, ruff-check, ruff-format

fix: vite build errors from nulls, indents, and missing placeholder
  public/placeholder.webp
  src/components/search/mediaform.tsx
  src/lib/coverdetect.ts
  src/media/tmdb.ts
Due: biome

bump: v0.6.0
  docs/changelog.md
  package-lock.json
  package.json
Due: none

test: update dev middleware key selection
  .github/workflows/test.yml
  src/middleware/api-routes.ts
Due: biome

chore: untangle env vars between prod, dev, and github
  .env.example
  .github/workflows/test.yml
  backend/backend.py
  src/media/factory.ts
  src/middleware/api-routes.ts
  test/e2e/specs/workflow.cy.js
  test/e2e/support/actions.js
  test/integration/api.test.js
  test/media.test.js
Due: biome, ruff-check, ruff-format

Path conditions:
  biome: any of: \.(ts|tsx|js|jsx|css)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
