Repository brege/aoife: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, ruff-check, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: biome
        name: biome
        entry: npx biome lint --write
        language: system
        files: '\.(ts|tsx|js|jsx|css)$'
      - id: ruff-check
        name: ruff check
        entry: ruff check
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]

refactor(1): reorganize src structure
  docs/changelog.md
  src/app/App.tsx
  src/features/grid/caption.tsx
  src/features/grid/grid.css
  src/features/grid/grid.tsx
  src/features/menu/clear.tsx
  src/features/menu/config.tsx
  src/features/menu/menu.css
  src/features/menu/menu.tsx
  src/features/search/bridge.ts
  src/features/search/carousel.css
  src/features/search/carousel.tsx
  src/features/search/coverlink.css
  src/features/search/coverlink.tsx
  src/features/search/dropdown.css
  src/features/search/dropdown.tsx
  src/features/search/form.css
  src/features/search/form.tsx
  src/features/search/mediaform.css
  src/features/search/mediaform.tsx
  src/features/search/picker.tsx
  src/features/search/platform.css
  src/features/search/platform.tsx
  src/features/search/results.tsx
  src/features/search/search.css
  src/features/search/search.tsx
  src/ui/customimage.tsx
  src/ui/header.css
  src/ui/header.tsx
  src/ui/title.css
  src/ui/title.tsx
Due: biome

refactor(2): unflatten search/ into deeper components
  src/features/grid/grid.tsx
  src/features/grid/index.ts
  src/features/menu/index.ts
  src/features/search/form/custom.css
  src/features/search/form/custom.tsx
  src/features/search/form/form.css
  src/features/search/form/form.tsx
  src/features/search/form/index.ts
  src/features/search/form/platform.css
  src/features/search/form/platform.tsx
  src/features/search/index.ts
  src/features/search/modals/caption.tsx
  src/features/search/modals/cover.css
  src/features/search/modals/cover.tsx
  src/features/search/modals/index.ts
  src/features/search/picker/carousel.css
  src/features/search/picker/carousel.tsx
  src/features/search/picker/index.ts
  src/features/search/picker/picker.tsx
  src/features/search/results/index.ts
  src/features/search/results/results.tsx
  src/features/search/search.tsx
  src/features/search/state.ts
  src/features/search/suggestion/index.ts
  src/features/search/suggestion/list.css
  src/features/search/suggestion/list.tsx
  src/ui/customimage.tsx
  src/ui/title.tsx
Due: biome

refactor(3): unify caption and custom cover-by-link modals
  src/features/search/modals/caption.tsx
  src/features/search/modals/cover.tsx
  src/features/search/modals/edit.tsx
  src/features/search/modals/index.ts
  src/features/search/search.tsx
Due: biome

refactor(4/4): extract from picker and results a shared candidate card
  src/features/search/picker/picker.tsx
  src/features/search/results/card.tsx
  src/features/search/results/results.tsx
Due: biome

feat: add links to picker cards for music, books, games
  src/app/styles/global.css
  src/features/grid/grid.css
  src/features/grid/grid.tsx
  src/features/search/form/form.tsx
  src/features/search/form/index.ts
  src/features/search/picker/index.ts
  src/features/search/picker/picker.tsx
  src/features/search/results/links.ts
  src/features/search/results/results.tsx
  src/features/search/search.css
  src/features/search/search.tsx
  src/features/search/state.ts
  src/lib/coverdetect.ts
  src/media/factory.ts
Due: biome

feat: add poster sizes on hover
  src/features/search/form/form.css
  src/features/search/form/form.tsx
  src/features/search/results/card.tsx
  src/features/search/results/results.tsx
  src/features/search/search.css
  src/media/books.ts
Due: biome

bump: v0.6.1
  package-lock.json
  package.json
Due: none

docs: update README and timeline docs
  README.md
  docs/changelog.md
  docs/roadmap.md
Due: none

fix: relax custom media type upload rules
  README.md
  backend/backend.py
  docs/changelog.md
  src/middleware/share.ts
Due: biome, ruff-check, ruff-format

refactor(1): begin making css thematic
  src/features/menu/config.tsx
  src/features/menu/menu.css
Due: biome

refactor(2): continue CSS-thematizing search inputs
  src/features/menu/menu.css
  src/features/search/form/custom.css
  src/features/search/form/form.css
  src/features/search/form/platform.css
  src/features/search/modals/cover.css
  src/features/search/picker/carousel.css
  src/features/search/search.css
  src/features/search/suggestion/list.css
  src/ui/header.css
Due: biome

refactor(3): finish color/radii CSS extraction; flatten src/app/
  src/app/app.css
  src/app/app.tsx
  src/app/main.tsx
  src/app/styles/app.css
  src/app/styles/index.css
  src/features/grid/grid.css
  src/features/search/search.tsx
Due: biome

refactor(4): finish shadow arithmatic thematizing
  docs/roadmap.md
  src/app/app.css
  src/features/grid/grid.css
  src/features/menu/menu.css
  src/ui/header.css
Due: biome

feat: add drag-n-reorder support for desktop and mobile
  README.md
  docs/changelog.md
  docs/roadmap.md
  src/features/grid/grid.css
  src/features/grid/grid.tsx
  src/features/search/search.tsx
Due: biome

bump: v0.6.2
  package-lock.json
  package.json
Due: none

docs: update changelog
  docs/changelog.md
Due: none

fix: add handle to posters on desktop for dnd
  src/features/grid/grid.css
  src/features/grid/grid.tsx
Due: biome

feat: improve music art accuracy and image quality
  backend/backend.py
  src/features/search/form/form.tsx
  src/features/search/picker/picker.tsx
  src/lib/grid-operations.ts
  src/media/music.ts
  src/middleware/api-routes.ts
Due: biome, ruff-check, ruff-format

bump: v0.6.3
  package-lock.json
  package.json
  src/media/music.ts
Due: biome

docs: update timeline
  docs/changelog.md
  docs/roadmap.md
Due: none

fix: rampant 404's and backend instabilities
  backend/backend.py
  src/media/music.ts
  src/middleware/api-routes.ts
Due: biome, ruff-check, ruff-format

feat: make handle on desktop DnD wider and header-themed
  src/features/grid/grid.css
  src/features/grid/grid.tsx
Due: biome

fix: gap between Title/Album and Custom image icon
  src/features/search/form/form.css
Due: biome

chore: change main add button from <media type> to <image type>
  src/features/search/form/form.css
  src/features/search/form/form.tsx
  src/features/search/search.css
Due: biome

feat: remeber collapsed state for layout, is it down in menu
  src/features/menu/config.tsx
  src/features/menu/menu.tsx
  src/lib/grid-operations.ts
Due: biome

bump: v0.6.4
  package-lock.json
  package.json
Due: none

chore: remove header bg color; needless commentary
  docs/roadmap.md
  src/features/menu/menu.css
  src/features/search/search.css
  src/ui/header.css
  src/ui/title.css
Due: biome

chore: replace handrolled logger with pino
  backend/backend.py
  package-lock.json
  package.json
  src/features/grid/grid.tsx
  src/features/menu/clear.tsx
  src/features/menu/config.tsx
  src/features/menu/menu.css
  src/features/menu/menu.tsx
  src/features/search/form/custom.tsx
  src/features/search/form/form.tsx
  src/features/search/search.tsx
  src/features/search/state.ts
  src/lib/grid-operations.ts
  src/lib/logger.ts
  src/lib/state/share.ts
  src/media/music.ts
  src/ui/customimage.tsx
  src/ui/header.css
  src/ui/title.tsx
Due: biome, ruff-check, ruff-format

chore: replace frontend logging with pino
  src/media/books.ts
  src/media/games.ts
  src/media/music.ts
  src/media/tmdb.ts
  src/middleware/api-routes.ts
  src/middleware/logger.ts
  src/middleware/share.ts
  src/middleware/websocket.ts
Due: biome

chore: split forms.tsx from monolith to provider-specific handlers
  src/features/search/form/books.tsx
  src/features/search/form/custom.tsx
  src/features/search/form/custommedia.css
  src/features/search/form/custommedia.tsx
  src/features/search/form/form.tsx
  src/features/search/form/games.tsx
  src/features/search/form/index.ts
  src/features/search/form/music.tsx
  src/features/search/form/suggestions.ts
  src/features/search/form/tmdb.tsx
Due: biome

chore: move srs/media/ to src/providers/
  README.md
  src/features/grid/grid.tsx
  src/features/search/bridge.ts
  src/features/search/form/custommedia.tsx
  src/features/search/form/form.tsx
  src/features/search/picker/picker.tsx
  src/features/search/results/links.ts
  src/features/search/results/results.tsx
  src/features/search/search.tsx
  src/features/search/state.ts
  src/features/search/suggestion/list.tsx
  src/lib/grid-operations.ts
  src/lib/share.ts
  src/lib/state/share.ts
  src/middleware/api-routes.ts
  src/providers/books.ts
  src/providers/custom.ts
  src/providers/factory.ts
  src/providers/games.ts
  src/providers/index.ts
  src/providers/music.ts
  src/providers/service.ts
  src/providers/tmdb.ts
  src/providers/types.ts
Due: biome

chore: adopt react-hook-form to reduce handrolled events
  package-lock.json
  package.json
  src/features/search/form/books.tsx
  src/features/search/form/custom.tsx
  src/features/search/form/form.tsx
  src/features/search/form/games.tsx
  src/features/search/form/music.tsx
  src/features/search/form/tmdb.tsx
  src/features/search/search.tsx
  src/features/search/state.ts
  src/lib/grid-operations.ts
Due: biome

chore: finish RHF refactor
  src/features/search/form/books.tsx
  src/features/search/form/combobox.tsx
  src/features/search/form/custom.tsx
  src/features/search/form/form.tsx
  src/features/search/form/games.tsx
  src/features/search/form/music.tsx
  src/features/search/form/tmdb.tsx
Due: biome

feat: bump search band to the top while search results open
  src/features/search/search.tsx
Due: biome

feat: make candidate picker full view on mobile
  src/features/search/form/form.css
  src/features/search/search.css
  src/features/search/search.tsx
Due: biome

chore: remove/consolidate duplicate dropdown components
  src/features/search/form/form.tsx
  src/features/search/search.tsx
Due: biome

chore: grid elements and rows atomized into own components
  src/features/grid/grid.tsx
  src/features/grid/index.ts
  src/features/grid/item.tsx
  src/features/grid/row.tsx
  src/features/search/form/combobox.tsx
  src/features/search/form/custom.tsx
  src/features/search/form/form.tsx
  src/features/search/form/music.tsx
  src/features/search/search.css
  src/features/search/search.tsx
Due: biome

refactor: add TanStack Query to centralize caching
  package-lock.json
  package.json
  src/app/app.tsx
  src/features/grid/grid.tsx
  src/features/search/search.tsx
  src/features/search/state.ts
  src/lib/grid-operations.ts
  src/providers/factory.ts
  src/providers/queries.ts
Due: biome

refactor: migrate to Zustand for centralized storage and persistance
  package-lock.json
  package.json
  src/features/grid/index.ts
  src/features/grid/item.tsx
  src/features/search/bridge.ts
  src/features/search/search.tsx
  src/features/search/state.ts
  src/lib/state/layout.ts
  src/lib/state/share.ts
  src/lib/state/storage.ts
  src/lib/store.ts
  src/providers/queries.ts
Due: biome

chore: remove compatability for storage migration
  src/lib/store.ts
Due: biome
