Repository brege/aoife: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, ruff-check, ruff-format

biome:
  name: biome
  entry: npm run lint
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

fix: platform dropdown on production
  backend/backend.py
  backend/requirements.txt
  biome.json
  docs/changelog.md
  src/components/search/platformautocomplete.css
  src/components/search/platformautocomplete.tsx
  vite.config.ts
Due: ruff-check, ruff-format

perf: clamp requests/sec on production API
  backend/nginx/aoife.template
Due: none

fix: endpoint for video game searches
  src/media/games.ts
Due: none

fix: don't limit IP's
  backend/nginx/aoife.template
Due: none

test: add mocha E2E test suite with YAML workflows
  .github/workflows/test.yml
  .mocharc.json
  package-lock.json
  package.json
  test/config.yaml
  test/integration/client.js
  test/media.test.js
  test/setup.js
  vite.config.ts
Due: biome

test(wip): hot swap tmdb api method for testing
  .gitignore
  docs/contributing.md
  src/media/factory.ts
  src/media/tmdb.ts
  test/integration/client.js
  test/media.test.js
  tools/cypress/e2e/workflow.cy.js
  vite.config.ts
Due: biome

fix(/wip): TMDb and GamerDB proxies through aoife API not directly
  backend/backend.py
  src/lib/indexeddb.ts
  src/media/factory.ts
  src/media/games.ts
  src/media/tmdb.ts
  tsconfig.app.json
  vite.config.ts
Due: ruff-check, ruff-format

feat: add modal manager for keybinds like Esc
  src/app/App.tsx
  src/components/grid/grid.tsx
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/lib/modalmanager.tsx
Due: none

test: fix TMDb key on GH actions
  test/media.test.js
  tools/cypress/e2e/workflow.cy.js
  vite.config.ts
Due: biome

feat: remove template stub after first add
  src/components/grid/grid.tsx
  src/components/search/search.tsx
Due: none

fix(ui): poster- close button alignment with bg on hover
  src/components/grid/grid.css
  src/components/grid/grid.tsx
Due: none

chore(ui): remove old bespoke close button components
  src/components/search/search.css
  src/components/search/search.tsx
  src/components/ui/close.css
  src/components/ui/close.tsx
Due: none

chore: reduce duplicate and competing clicks and closes
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/menu.tsx
  src/components/search/dropdown.tsx
  src/components/search/platformautocomplete.tsx
  src/components/search/search.tsx
  src/components/ui/useonclickoutside.ts
  src/lib/modalmanager.tsx
Due: none

feat: make initial poster picker more visual
  src/components/search/search.css
  src/components/search/search.tsx
Due: none

refactor: shape alternative cover picker into new drawer
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/search/search.css
  src/components/search/search.tsx
Due: none

fix: close button position and video game posters
  src/components/search/search.css
  src/media/games.ts
Due: none

fix: badges, close button positioning
  src/components/search/search.css
  src/components/search/search.tsx
Due: none

fix: failing end-to-end test
  src/components/search/search.tsx
  tools/cypress/e2e/workflow.cy.js
Due: biome

bump: v0.2.2
  package-lock.json
  package.json
  src/components/menu/menu.css
  src/components/menu/menu.tsx
Due: none

docs: update changelog
  docs/changelog.md
  src/components/menu/menu.tsx
Due: none

test: reorganize test structure to include cypress
  cypress.config.js
  package.json
  test/e2e/cypress.config.js
  test/e2e/specs/workflow.cy.js
  test/e2e/support/commands.js
  test/e2e/support/e2e.js
  test/e2e/workflows.yaml
  test/media.test.js
  tools/cypress/e2e/mobile-debug.cy.js
  tools/cypress/e2e/quick-measure.cy.js
  tools/debug/mobile.js
Due: biome

test: add first API integration tests
  .mocharc.mjs
  docs/changelog.md
  docs/contributing.md
  package.json
  src/media/factory.ts
  src/media/tmdb.ts
  test/integration/api.test.js
  test/integration/client.js
  vite.config.ts
Due: biome

feat: make form an adaptive band under header; keep stack for mobile
  .mocharc.mjs
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/menu.tsx
  src/components/search/dropdown.css
  src/components/search/mediasearchform.css
  src/components/search/mediasearchform.tsx
  src/components/search/platformautocomplete.css
  src/components/search/platformautocomplete.tsx
  src/components/search/search.css
  src/components/search/search.tsx
  src/lib/modalmanager.tsx
  src/media/factory.ts
  src/media/games.ts
  test/e2e/specs/workflow.cy.js
  vite.config.ts
Due: biome

feat: default to presentation-mode w/ band on desktop
  src/components/grid/grid.tsx
Due: none

test: refactor to expose test API and hooks instead of DOM locators
  src/components/search/dropdown.tsx
  src/components/search/mediasearchform.tsx
  src/components/search/platformautocomplete.tsx
  src/components/search/search.tsx
  test/e2e/fixtures/media.js
  test/e2e/specs/workflow.cy.js
  test/e2e/support/actions.js
Due: biome

bump: v0.3.0
  docs/changelog.md
  package-lock.json
  package.json
Due: none

feat: add UI toggle for fixed-width vs. fixed-height posters
  docs/changelog.md
  package-lock.json
  package.json
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  test/e2e/specs/workflow.cy.js
  test/e2e/support/actions.js
  test/e2e/workflows.yaml
Due: biome

feat: added shareable links to post matrices
  .gitignore
  backend/backend.py
  docs/contributing.md
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/lib/indexeddb.ts
  src/lib/share.ts
  src/lib/slugs.json
  src/media/custom.ts
  vite.config.ts
Due: ruff-check, ruff-format

fix: sticky grid sizing now storable and sharable
  src/components/grid/grid.tsx
  src/components/menu/config.tsx
  src/components/menu/menu.css
  src/components/menu/menu.tsx
  src/components/search/search.tsx
  src/lib/indexeddb.ts
  vite.config.ts
Due: none

fix: backend deployment containment on prod
  backend/backend.py
  backend/systemd/aoife.template.service
Due: ruff-check, ruff-format

perf: add more gunicorn refinement, templates, and external API statuses
  backend/backend.py
  backend/systemd/aoife.template.service
  package-lock.json
  package.json
  src/components/menu/menu.css
  src/components/menu/menu.tsx
Due: ruff-check, ruff-format

perf: add server-side validation on prod
  backend/backend.py
  docs/changelog.md
  docs/roadmap.md
  vite.config.ts
Due: ruff-check, ruff-format

feat: modernize mobile for seemless builder v. presentation modes
  src/components/grid/grid.css
  src/components/grid/grid.tsx
  src/components/search/mediasearchform.css
  src/components/search/search.css
Due: none

fix: layout's icon and button grid in hamburger menu
  src/components/menu/menu.css
Due: none

feat: improve desktop mode for seemless builder v. presentation
  src/app/styles/global.css
  src/components/search/mediasearchform.css
  src/components/search/search.css
Due: none

feat: add favicon; update roadmap and changelog
  docs/changelog.md
  docs/roadmap.md
  index.html
  package-lock.json
  package.json
  public/favicon.png
Due: none

chore: move json's to data/ and store editable titles
  .gitignore
  backend/backend.py
  backend/install
  data/slugs.json
  src/components/search/search.tsx
  src/components/ui/header.tsx
  src/components/ui/title.tsx
  src/lib/share.ts
  vite.config.ts
Due: ruff-check, ruff-format

fix: clear localstorage AND IndexDB on trash grid
  src/components/search/search.tsx
Due: none

test: add regression workflow for grid emptying
  test/e2e/specs/workflow.cy.js
  test/e2e/support/actions.js
  test/e2e/workflows.yaml
Due: biome

feat: add inspection script to explore JSON database
  inspect
  package-lock.json
  package.json
Due: none

Path conditions:
  biome: any of: \.(ts|tsx|js|jsx)$ and \.(js|mjs|cjs)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
