Repository brege/aoife: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, ruff-check, ruff-format

biome:
  name: biome
  entry: npx biome lint --write
  language: system

ruff-check:
  name: ruff check
  entry: ruff check
  language: system

ruff-format:
  name: ruff format
  entry: ruff format
  language: system

perf: add Zod schemas to validate provider API's
  src/providers/books.ts
  src/providers/games.ts
  src/providers/music.ts
  src/providers/schemas.ts
  src/providers/tmdb.ts
Due: biome

refactor: creates hooks for useLocalStorage and useResizeObserver
  src/features/grid/grid.tsx
  src/features/menu/config.tsx
  src/features/menu/menu.tsx
  src/lib/hooks.ts
Due: biome

feat: greatly improved Drag-n-Drop with @dnd-kit
  package-lock.json
  package.json
  src/features/grid/grid.css
  src/features/grid/grid.tsx
  src/features/grid/item.tsx
  src/features/grid/row.tsx
Due: biome

bump: v0.6.6
  docs/changelog.md
  src/providers/schemas.ts
Due: biome

feat: make mobile form stack more compact
  src/features/search/form/form.css
  src/features/search/form/form.tsx
Due: biome

chore: remove desktop image handle; add hover text to overlays
  src/features/grid/grid.css
  src/features/grid/item.tsx
Due: biome

feat: replace FixedWidth mode with Chimney view
  src/features/grid/grid.css
  src/features/grid/grid.tsx
  src/features/grid/item.tsx
  src/features/grid/row.tsx
  src/features/menu/config.tsx
  src/features/menu/menu.tsx
  src/features/search/bridge.ts
  src/lib/share.ts
  src/lib/store.ts
  src/middleware/share.ts
  src/ui/header.tsx
  test/e2e/workflows.yaml
Due: biome

feat: reorg menu groupings
  src/features/menu/config.tsx
  src/features/menu/menu.tsx
  src/features/search/search.tsx
  src/lib/hooks.ts
  src/lib/store.ts
  src/ui/header.tsx
Due: biome

refactor: better distinction between share-payload and browser storage
  backend/backend.py
  docs/roadmap.md
  package-lock.json
  package.json
  src/features/search/search.tsx
  src/lib/share.ts
  src/lib/store.ts
  src/middleware/share.ts
Due: biome, ruff-check, ruff-format

bump v0.7.0
  docs/changelog.md
  src/features/grid/grid.tsx
  src/features/grid/item.tsx
  src/features/grid/row.tsx
Due: biome

docs: update screenshots
  .gitignore
  README.md
  docs/img/desktop-edit.png
  docs/img/desktop-present.png
  docs/img/desktop-types.png
  docs/img/mobile-chimney.png
  docs/img/mobile-options.png
  docs/img/mobile-present.png
  docs/img/mobile-single.png
Due: none

fix: don't encode custom image urls; custom upload input capture
  README.md
  src/features/search/form/custom.tsx
  src/features/search/results/card.tsx
  src/providers/custom.ts
  src/ui/customimage.tsx
Due: biome

bump: v0.7.1
  docs/changelog.md
  package-lock.json
  package.json
Due: none

feat: add light mode
  docs/changelog.md
  src/app/app.css
  src/features/menu/config.tsx
  src/features/menu/menu.tsx
  src/features/search/search.tsx
  src/ui/header.tsx
Due: biome

test: reduce cypress WARN noise
  docs/roadmap.md
  package.json
Due: none

docs: remove duplicate info
  docs/contributing.md
Due: none

ci: remove TheGamesDB private key (removed upstream)
  .env.example
  src/middleware/api-routes.ts
Due: biome

chore: migrate backend to uv-locked Python 3.14
  .pre-commit-config.yaml
  backend/backend.py
  backend/install
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: ruff-check, ruff-format

security: harden npm supply chain and refresh Node stack
  .github/workflows/test.yml
  .npmrc
  biome.json
  package-lock.json
  package.json
Due: none

security: tighten npm and Cypress trust boundaries
  .github/workflows/test.yml
  .npmrc
  package-lock.json
  package.json
  test/e2e/cypress.config.js
  test/e2e/specs/workflow.cy.js
  test/media.test.js
Due: biome

build: make uv path resolution more general
  backend/install
Due: none

bump: v0.7.3
  backend/pyproject.toml
  backend/uv.lock
  package-lock.json
  package.json
Due: none

ci: downgrade biome version to previous release (7+ days)
  package-lock.json
  package.json
Due: none

build: rollback several packages younger than 7 days
  .github/workflows/test.yml
  .npmrc
  package-lock.json
  package.json
Due: none

Path conditions:
  biome: any of: \.(ts|tsx|js|jsx|css)$
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
